@model IList<Person>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Who is who?</h1>
<h2>Employee of the month</h2>
@{
    var employeeOfTheMonth = Model.FirstOrDefault();
    if (employeeOfTheMonth is not null)
    {
        <partial name="PersonCardPartial" model="employeeOfTheMonth" />
    }
}
<h2>Employees</h2>
<div class="row">
    @foreach (var person in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm m-3">
            <partial name="PersonCardPartial" model="person" />
        </div>
    }
</div>

@section Modals {
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Person</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this person?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
}
