@model Person

<!--dingen in het vet zoals form => zullen bij gerendered worden, is csharp !-->
@{
    ViewBag.Title = "Edit Person";
}

<h1>@ViewBag.Title</h1>

<form method="post">
    <!--We maken gebruik van onze aangemaakte partial, zo vermijden we reduplicatie, model moet gedef. worden anders zal hij niks in de veldjes invullen om te editeren-->
    <partial name="CreateEditPartial" model="Model"/>

    <a asp-action="Index" class="btn btn-secondary">&lt; Back</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}