
@model IList<Person>

<h1>List of People</h1>

<a asp-action="Create" class="btn btn-primary">New Person</a>

<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    
    </thead>
    <tbody>
    @foreach (var person in Model)
    {
        //@ na spatie want spatie gezien als HTML, @C-sharp
        // Hoe aan lijst ? Model = property en hier hebben we een lijst meegegeven in PeopleController

        //voor iedere persoon patrial view uitvoeren
        <partial name="PersonRowPartial" model="person"/>
    }
    </tbody>
</table>

